
.navbar {
    height: auto;
    border-bottom: 1px solid #000;
    padding: 10px;
    display: flex;
    align-items: baseline;
    gap: 40px;
    background-color: #fff;
    color: #1667ff;
    background-image: url(../../assets/gato.png);
    background-position: right;
    background-position-y: -238px;
    background-repeat: no-repeat;
    background-size: auto;
}

.navbar__title {
    font-size: 3em;
    display: flex;
    align-items: center;
}

.navbar__logo {
    height: 1em;
}

